 <div class="row"><div class="col-sm-6 col-sm-offset-3">
 <span class="btn btn-danger"><h2>It is essential all information you <br />enter into this form is accurate.<br /> If you are enter information that <br />is false, you may face potential <br />criminal or civil liability.</h2></span>
 </div></div>

<%= render 'form' %>
