<% unless steps_model.nil? || steps.blank? || step.blank? %>
  <ul class="nav nav-tabs">
    <% steps.each_with_index do |step_item, index| %>
      <% begin %>
        <% label = (index + 1).to_s + ". " + step_item.to_s.titleize %>
        <% model_name = steps_model.class.name.to_s.underscore %>
        <% url = wizard_path(step_item) %>
        <li class="<%= step == step_item ? 'active' : '' %>"><%= link_to label, url %></li>
      <% rescue %>
        <% nil %>
      <% end %>
    <% end %>
  </ul>
<% end %>
