<div class="page-header">
  <div class="col-sm-offset-2">
    <h2>Make Sure You Have the Correct Images</h2>
  </div>
</div>
<%= render layout: 'layouts/steps_form' do |f| %>
  <% if @steps_model.image_uploads.size == 0 %>
    <h3 class="text-warning">Return to the previous step to upload a copy of the photo(s).</h3>
  <% else %>
    <% @steps_model.image_uploads.each do |image_upload| %>
      <%= image_tag image_upload.image_url if image_upload.image? %><br />
      <%= link_to "Remove and Delete Image", image_upload_url(image_upload), method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
      <br />
      <hr>
    <% end %>
<table>

    <tr><td>
      <div class="row">
      <div class="col-sm-2">
      <p class="text-right">Are these correct?</p>
      </div>
      <div class="col-sm-1 col-sm-offset-2">
            <%= f.input :images_confirmed, label: false, as: :radio_buttons %>
      </div>
      </div>
   <div class="row"><div class="col-sm-8 col-sm-offset-3">
   <p class="text-left"><i>Be sure to remove any mistakenly uploaded images.</i></p>
   </div></div>
   </td></tr>
</table>



    <hr>
    <div class="col-sm-offset-3">
      <%#= link_to_add_fields "Add Cap Table to Upload", f, :file_stores %>
    </div>
    <hr>
  <% end %>
<% end %>

