<div class="row">
<div class="col-sm-8 col-sm-offset-2">
<table class="table table-bordered">
<tr>
<div class="page-header">
<h2 class="text-danger text-center">What is Revenge Porn?</h2>
</div>

<p>Generally, “revenge porn” is comprised of sexual or lewd photographs taken by oneself of oneself (“Selfies”) and then sent to another person via text message or email. In Selfies, the person taking the photograph is the same person that is in the photograph. The person who receives these photographs then posts them to the Internet without the permission of the person in the photograph (and who took the photograph), thereby turning a “Selfie” into revenge porn.</p>

<h5>According to a 2012 Pew Survey:</h5>
<p>- One in four adults between 18 and 25 have received sexual texts 
   known as “sexts” containing “suggestive photos or videos”</p>
<p>- One in three adults aged 25-34 have received sexts</p>
<p>- Among all adults, 15 percent say have received nude or nearly nude photo/video of someone they know</p>

<h5>There is Money to be made! $$$$</h5>
<p>- Former revenge porn website “Isanyoneup.com” reportedly made $13,000 a month in advertising</p>
<p>- Received 30 million page views per month</p>


<hr>




<div class="page-header">
<h2 class="text-danger text-center">How Does the DMCA Work for Websites?</h2>
</div>


The DMCA provides content intermediaries with immunity from copyright infringement liability arising from the infringement committed by users. This applies as long as the intermediary is not on notice of the user’s infringement and if the intermediary removes any allegedly infringing material in accordance with statutory guidelines.
<hr> 

<div class="page-header">
<h2 class="text-danger text-center">How Does the DMCA work for Copyright Holders?</h2>
</div>

If a copyright owner believes, in good faith, that a particular website is hosting infringing content, he or she may draft a letter to the website’s owner, agent, or host requesting prompt removal. Upon notification and receipt of a removal request, the website must remove the infringing material.
<hr>

<div class="page-header">
<h2 class="text-danger text-center">How Can the DMCA Help Revenge Porn Victims Today?</h2>
</div>

Victims have copyright in “Selfies” and can utilize the DMCA to compel host websites to remove their photos or the host website may face legal action. According to a survey conducted by the Cyber Civil Rights Initiative, an estimated 80% of revenge porn pictures are “Selfies” taken by the subjects themselves. As both photographer and subject, the victim supplies the idea and the expression in the photograph, and creates a protectable copyright by embedding it in a tangible medium.
</tr>
</table>
</div>
</div>