<br />
<br />
<br />
<div class="row"><div class="col-sm-4 col-sm-offset-5">
<button type="button" class="btn btn-warning btn-lg"><h1><%= mail_to "takemyphotodown@gmail.com", "Contact Us", :encode => "hex", subject: "Contact TakeMyPhotoDown" %></h1></button></div></div>

<br />
<br />
<br />