<div class="row">
  <div class="col-sm-6 col-md-4 col-sm-offset-4">
        <p>The easiest way to send a takedown notice under the Digital Millenium Copyright Act (DMCA).</p>
        <p>You as the person taking the photo of yourself own the copyright to that photo. A DMCA takedown form alerts the website that there are copyrighted pictures on the website. Once a website receives a DMCA takedown notice they must legally remove the photo.</p>

  </div>
</div>
<br />
<br />
<br />
<div class="row"><div class="col-sm-4 col-sm-offset-4">
<button type="button" class="btn btn-warning btn-lg"><h1><%= link_to "Send a Take Down Notice", new_takedown_path %></h1></button></div></div>

<br />
<br />
<br />